.navbarWrapper{
    display: flex;
    flex-direction: row;
    max-width: 1672px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 24px 34px 0px rgba(0, 0, 0, 0.15000000596046448);
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: rgba(255, 255, 255, 1);
}

.navbarItems {
    display: flex;
    flex-direction: row;
    max-width: 266px;
    justify-content: flex-start;
    align-items: center;
}

.navbarItem {
    max-width: 34px;
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Inter", sans-serif;
}