// :root {
//     --primary-bg-color: #f8f9fa; /* Light gray background */
//     --primary-text-color: #333; /* Dark gray text */
//     --secondary-bg-color: #007bff; /* Blue */
//     --secondary-text-color: #fff; /* White text */
//     --accent-color: #28a745; /* Green */
//     --hover-color: #e2e6ea; /* Light gray hover background */
//     --red-color: #9b4c3e; /* Light gray hover background */
// }

/* Style for the entire navigation bar wrapper */
.classCardWrapper {
  background-color: #E9EEFF;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the navigation items container */
.cardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for each individual navigation item */
.regisBtn p{
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #93ACFF; 
  color: #fafafa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* Remove or set width to auto */
  width: auto;
  /* Add display: inline-block */
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.regisBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add this CSS to your styles module or stylesheet */
.listTutors {
  border: none; /* Remove any border */
  padding: 8px 16px; /* Adjust padding as needed */
  color: #333; /* Default text color */
  font-weight: bold; /* Bold text */
  cursor: pointer;
  transition: color 0.2s ease; /* Smooth text color transition */
}

.listTutors:hover {
  color: #3b6592; /* Blue text color on hover */
}
.cardFooter {
  color: #3b6592; /* Blue text color on hover */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
}

.submitDate p{
  color: #aae917; /* Blue text color on hover */
  
}

.tags{
  color: #141963; /* Blue text color on hover */
  justify-content: right; 
  display: flex;
}

.tag{
  color: #141963; /* Blue text color on hover */
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px;
  padding: 8px 16px;
  background-color: #93ACFF; 
  color: #fafafa;
  border: none;
  border-radius: 20px;
}

.tag:hover{
  cursor: pointer;
}